@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Bellefair');

*, form, input, textarea {
    font-family: 'Bellefair', cursive;
}

h1, h2, h3, h4, h5, button {
    font-family: 'Bilbo Swash Caps', cursive;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

a:visited {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 3em;
}
